<?xml version='1.0' encoding='utf-8'?>
<repo>https://github.com/jbug27/sdk-appcenter-analytics.git</repo>
<plugin id="com.fidelifdade.sdkappcenteranalytics" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>sdkappcenteranalytics</name>
    <js-module name="sdkappcenteranalytics" src="www/sdkappcenteranalytics.js">
        <clobbers target="cordova.plugins.sdkappcenteranalytics" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="sdkappcenteranalytics">
                <param name="ios-package" value="sdkappcenteranalytics" />
            </feature>
        </config-file>
        <source-file src="src/ios/AppCenterAnalyticsPlugin.m" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="AppCenter/Analytics" spec="~> 2.5.0" />
            </pods>
        </podspec>
        <framework src="AppCenter" type="podspec" spec="~> 2.5.0" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="sdkappcenteranalytics">
                <param name="android-package" value="com.fidelifdade.sdkappcenteranalytics.sdkappcenteranalytics" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- TODO: check if permission below is needed -->
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <framework src="com.microsoft.appcenter:appcenter-analytics:2.4.1" />

        <source-file src="src/android/AppCenterAnalyticsPlugin.java"
            target-dir="src/com/fidelifdade/sdkappcenteranalytics/sdkappcenteranalytics" />

        <source-file src="src/android/AnalyticsUtils.java"
            target-dir="src/com/microsoft/azure/mobile/cordova" />

    </platform>
</plugin>







